.activated {
    color: lightgrey;
    font-size: 12px;
}

.change_label {
    color: grey;
    font-size: 12px;
    margin-top: 5px;
}

.error_message {
    color: red;
    font-size: 12px;
    padding-left: 5px;
    margin-top: 5px;
}
